spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:dataflow;DB_CLOSE_DELAY=-1;MODE=MySQL;INIT=RUNSCRIPT FROM 'classpath:db/schema.sql'
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
